<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Android permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TumMIle"
        tools:targetApi="31">
        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7832903149087002~1738209180"/> <!-- Replace with your real App ID -->
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="true" />
        <activity
            android:name=".Photo_Edit"
            android:exported="false" />
        <activity
            android:name=".Whatsapp_Status"
            android:exported="false" />
        <activity
            android:name=".Font_changer"
            android:exported="false" />
        <activity
            android:name=".Birthday_wishes"
            android:exported="false" />
        <activity
            android:name=".EidMubarak_wishes"
            android:exported="false" />
        <activity
            android:name=".BirthdayAnimation"
            android:exported="false" />
        <activity
            android:name=".GetTouch"
            android:exported="false" />
        <activity
            android:name=".HindiQuatees"
            android:exported="false" />
        <activity
            android:name=".BengaliQuatees"
            android:exported="false" />
        <activity
            android:name=".EnglishQuatees"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>